@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Libre+Baskerville:ital@1&family=Ms+Madi&family=Oswald:wght@200&family=Poppins:ital,wght@0,100;0,300;0,400;0,600;1,100;1,200&family=Rubik+Moonrocks&family=Updock&family=Whisper&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-size: 1rem;
    line-height: 1.65;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: linear-gradient(to right, #2578d6 50%, #dbe5ef 50%);
}

/* Main Styling */

.uc__wrapper {
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.uc__details {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    align-items: flex-start;
    justify-content: center;
}

.uc__art {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uc__art img {
    width: 60%;
    background: rgb(207, 211, 251);
    background: linear-gradient(70deg, rgba(207, 211, 251, 1) 0%, rgba(220, 232, 242, 1) 29%, rgba(216, 248, 251, 1) 61%, rgba(243, 255, 253, 1) 100%);
    border-radius: 30% 70% 68% 32% / 30% 47% 53% 70%;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
}

.title {
    display: inline-block;
    font-size: 40px;
    position: relative;
    margin-bottom: 1rem;
}

.title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #fff;
    width: 140px;
}

.intro {
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.uc_description {
    margin-bottom: 2rem;
    line-height: 1.77;
    color: #ccc;
}

.uc__subscription {
    background-color: #77B3FC;
    padding: 1.5rem;
    width: 85%;
    border-radius: 3px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
}

.uc__subscription h3 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.uc__form {
    position: relative;
}

.uc__form input {
    font-family: inherit;
    outline: none;
    font-size: 90%;
    padding: 10px 1rem;
    border: none;
    display: block;
    border-radius: 2px;
}

.uc__form .email {
    width: 100%;
    background-color: #ecf0f1;
}

.uc__form .submit {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #4150D9;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color .22s ease;
}

.uc__form .submit:hover {
    background-color: #6293d3;
}

.floating {
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    height: 500px;
    width: 400px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

@media screen and (max-width: 990px) {
    .floating {
        margin-top: 646px;
        height: 400px;
        width: 300px;
    }
}